div.st-emotion-cache-1bzkvni {
  width: calc(30% - 1rem);
  flex: 1 1 calc(30% - 1rem);
  background-color: antiquewhite;
  border: 0px solid #DDD1C1;
  padding: 2% 2% 2% 2%;
  border-radius: 10px;
}

div.st-emotion-cache-17b17hr.e1nzilvr5{
  line-height: 1.45;
}

div.st-aq{
  gap: 4rem;
}